:root {
    --primary: #fff;
}
.btn {
    border-radius: 4px;
    background: var(--primary);
    padding: 10px 20px;
    color: #4b0082;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    text-decoration: none;
    font-size: 16px;
}
.btn--primary {
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
}
.btn--outline {
    background-color: transparent;
    border: 1px solid var(--primary);
    color: #4b0082;
    padding: 8px 20px;
    transition: all 0.3s ease-out;
}
.btn--medium {
    padding: 8px 20px;
    font-size: 20px;
}
.btn--large {
    padding: 12px 26px;
    font-size: 20px;
}
.btn--medium:hover, .btn--large:hover {
    background: #fff;
    color: #242424;
    transition: all 0.3s ease-out;
}